@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  letter-spacing: 0.03em;
}

.section {
  padding: 94px 0px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

:root {
  --main-light-color: #ffffff;
  --main-dark-color: #212121;
  --accent-color: #2196f3;
  --middle-main-color: #757575;
  --additional-color: #2f303a;
  --additional-dark-color: #000000;
  --background-section-color: #f5f4fa;
  --portfoilio-border-color: #eeeeee;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --border-header-color: #ececec;
  --client-light-color: #afb1b8;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --soc-link-background: rgba(255, 255, 255, 0.1);
  --portfolio-hover-background: rgba(33, 150, 243, 0.9);
  --transition-hover: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --submit-btn-color: #188ce8;
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.logo__studio-header {
  color: var(--additional-dark-color);
}

.logo__studio--footer {
  color: var(--main-light-color);
}

.logo__header {
  padding: 24px 0 25px 0;
  margin-right: 93px;
}

.logo__footer {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.conteiner {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  background: var(--accent-color);
  color: var(--main-light-color);
  line-height: 1.87;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  letter-spacing: 0.06em;
}

.btn--circle {
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  font-family: Roboto;
  font-weight: 700;
}

.submit--btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.btn--subscribe {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: bold;
  font-size: 16px;
}

.btn--portfolio {
  height: 38px;
  padding: 6px 22px;
  min-width: auto;
  white-space: nowrap;
  background: var(--background-section-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: inherit;
  box-shadow: none;
  transition: background var(--transition-duration) var(--transition-hover), color var(--transition-duration) var(--transition-hover), box-shadow var(--transition-duration) var(--transition-hover);
}

.btn--portfolio:hover, .btn--portfolio:focus {
  background: var(--accent-color);
  color: var(--main-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn--current {
  background: var(--accent-color);
  color: var(--main-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-background);
  position: fixed;
  top: 0%;
  left: 0%;
  transition: opacity 300ms var(--transition-hover), visibility 300ms var(--transition-hover);
}

.backdrop .is-hidden .modal {
  transform: scale(0.1) rotate(30deg);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--main-light-color);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform var(--transition-duration) var(--transition-hover);
}

.modal__close {
  position: absolute;
  padding: 0%;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition-duration) var(--transition-hover);
}

.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.social__list {
  display: flex;
}

.social__list .social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social__list .social__link:not(:last-child) {
  margin-right: 10px;
}

.social__list .social__link .social__link-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__list .social__link .social__link-logo {
  width: 20px;
  height: 20px;
}

.social--footer .social__list--footer .social__link--footer {
  background: var(--soc-link-background);
}

.social--footer .social__list--footer .social__link--footer .social__link-item--footer {
  transition: background var(--transition-duration) var(--transition-hover);
}

.social--footer .social__list--footer .social__link--footer .social__link-item--footer .social__link-logo--footer {
  fill: var(--main-light-color);
}

.social--footer .social__list--footer .social__link--footer .social__link-item--footer:hover, .social--footer .social__list--footer .social__link--footer .social__link-item--footer:focus {
  background: var(--accent-color);
}

.social__list--our-team .social__link--our-team .social__link-item--our-team {
  color: var(--client-light-color);
  transition-property: background-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-hover);
}

.social__list--our-team .social__link--our-team .social__link-item--our-team .social__link-logo--our-team {
  fill: currentColor;
}

.social__list--our-team .social__link--our-team .social__link-item--our-team:hover, .social__list--our-team .social__link--our-team .social__link-item--our-team:focus {
  background-color: var(--accent-color);
}

.social__list--our-team .social__link--our-team .social__link-item--our-team:hover .social__link-logo--our-team,
.social__list--our-team .social__link--our-team .social__link-item--our-team:hover .social__link-logo--our-team, .social__list--our-team .social__link--our-team .social__link-item--our-team:focus .social__link-logo--our-team,
.social__list--our-team .social__link--our-team .social__link-item--our-team:focus .social__link-logo--our-team {
  color: var(--main-light-color);
}

.porfolio__btns {
  margin-bottom: 50px;
}

.porfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.porfolio__list-item {
  width: 370px;
  display: flex;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__list-item {
  width: 370px;
  display: flex;
}

.portfolio__list-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.portfolio__list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio__btns {
  margin-bottom: 50px;
}

.portfolio__btns .btns__item {
  list-style-type: none;
  margin-right: 8px;
}

.portfolio__btns .btns__item:last-child {
  margin-right: 0px;
}

.portfolio__item {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  transition: box-shadow var(--transition-duration) var(--transition-hover);
}

.portfolio__item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:hover .portfoilio__top-text, .portfolio__item:focus .portfoilio__top-text {
  transform: translateY(0);
}

.portfolio__item-wrap .portfoilio__top-text {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--main-light-color);
  background-color: var(--portfolio-hover-background);
  transform: translateY(101%);
  transition: transform 250ms;
  overflow: auto;
}

.portfolio__info {
  padding: 20px 24px;
  border-bottom: 1px solid var(--portfoilio-border-color);
  border-right: 1px solid var(--portfoilio-border-color);
  border-left: 1px solid var(--portfoilio-border-color);
}

.portfolio__info .portfolio__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}

.portfolio__info .portfolio__category {
  font-size: 16px;
  line-height: 1.87;
  color: var(--middle-main-color);
}

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--Navigation styles-------------------------------------*/
.navigation__links {
  display: flex;
}

.navigation__item {
  margin-right: 50px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  position: relative;
}

.navigation__item.current-page::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -2px;
}

.navigation__item.current-page {
  color: var(--accent-color);
}

.navigation__link {
  padding: 32px 0px;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: color var(--transition-duration) var(--transition-hover);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.contact {
  margin-left: auto;
}

.contact__list {
  display: flex;
  margin-left: auto;
}

.contact__list .contact__item {
  display: flex;
  align-items: center;
}

.contact__list .contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  padding: 32px 0px;
  color: var(--middle-main-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color var(--transition-duration) var(--transition-hover);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.contact__link:hover .envelope,
.contact__link:hover .phone, .contact__link:focus .envelope,
.contact__link:focus .phone {
  fill: var(--accent-color);
}

.contact__link .icon {
  fill: var(--middle-main-color);
  margin-right: 10px;
  justify-content: center;
}

.contact__link .icon.envelope {
  transition: fill var(--transition-duration) var(--transition-hover);
}

.contact__link .icon.phone {
  transition: fill var(--transition-duration) var(--transition-hover);
}

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--additional-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, var(--hero-gradient-color), var(--hero-gradient-color)), url("../images/studio_image/hero-main.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hero__title {
  max-width: 696px;
  margin: 0px auto 30px auto;
  font-weight: 900;
  color: var(--main-light-color);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features__item {
  width: 270px;
  margin-right: 30px;
}

.features__item:last-child {
  margin-right: 0px;
}

.features__item:before {
  display: block;
  height: 120px;
  width: inherit;
  background-color: #f5f4fa;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__item .features__header {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: inherit;
}

.features__item .features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--middle-main-color);
}

.icon-antenna::before {
  content: "";
  background-image: url("../images/studio_image/antenna.svg");
}

.icon-clock::before {
  content: "";
  background-image: url("../images/studio_image/clock.svg");
}

.icon-diagram::before {
  content: "";
  background-image: url("../images/studio_image/diagram.svg");
}

.icon-astronaut::before {
  content: "";
  background-image: url("../images/studio_image/astronaut.svg");
}

.what-we-do {
  padding-top: 0px;
}

.what-we-do__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: inherit;
}

.what-we-do__list {
  display: flex;
}

.what-we-do__item {
  margin-right: 30px;
  position: relative;
}

.what-we-do__item:last-child {
  margin-right: 0px;
}

.what-we-do__description-field {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 70px;
}

.what-we-do__description-field .description-field__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--main-light-color);
}

.our-team {
  background-color: var(--background-section-color);
}

.our-team__list {
  display: flex;
}

.our-team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: inherit;
}

.our-team__card {
  margin-right: 30px;
  font-size: 16px;
  line-height: 1.18;
  list-style-type: none;
  background-color: var(--main-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__card:last-child {
  margin-right: 0px;
}

.member {
  padding: 30px 24px;
  text-align: center;
}

.member__name {
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 10px;
  font-weight: 500;
  color: inherit;
}

.member__position {
  color: var(--middle-main-color);
  margin-bottom: 16px;
}

.сlients__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-dark-color);
  margin-bottom: 50px;
}

.сlients__list {
  flex-wrap: wrap;
}

.сlients .clients__item {
  width: 170px;
  height: 92px;
}

.сlients .clients__item:not(:nth-child(3n + 6)) {
  margin-right: 30px;
}

.сlients .clients__item .clients__link {
  border: 1px solid var(--client-light-color);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--client-light-color);
  transition-property: border-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-hover);
}

.сlients .clients__item .clients__link .clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-hover);
}

.сlients .clients__item .clients__link:hover, .сlients .clients__item .clients__link:focus {
  border-color: var(--accent-color);
}

.сlients .clients__item .clients__link:hover .clients__logo,
.сlients .clients__item .clients__link:focus .clients__logo {
  color: var(--accent-color);
}

.footer {
  background-color: var(--additional-color);
  padding: 60px 0px;
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer .conteiner .logo-adrs-conteiner {
  margin-right: 70px;
}

.footer .conteiner .social {
  margin-right: auto;
}

.address {
  font-style: normal;
}

.address__item {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  list-style-type: none;
  color: var(--footer-address-color);
  transition: color var(--transition-duration) var(--transition-hover);
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__item .address__actual {
  color: var(--main-light-color);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-hover);
}

.address__item .address__actual:hover, .address__item .address__actual:focus {
  color: var(--accent-color);
}

.address__item .address__reference {
  padding: 0;
  color: var(--middle-main-color);
  text-decoration: none;
}

.address__item .address__reference:hover, .address__item .address__reference:focus {
  color: var(--blue-color-hover);
}

.social__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--main-light-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.subscribe__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--main-light-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.subscribe__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__wrap .subscribe__inpute {
  background: var(--additional-color);
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__inpute::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.send-icon {
  margin-left: 10px;
}

.form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-dark-color);
  margin-bottom: 12px;
}

.form__field {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.form__field-wrap {
  position: relative;
  width: 100%;
  display: block;
}

.form__comment {
  width: 100%;
  max-height: 138px;
  margin-bottom: 20px;
  display: block;
  position: relative;
}

.form__label {
  display: flex;
  margin-bottom: 4px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--middle-main-color);
}

.form__input {
  height: 40px;
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-hover);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-dark-color);
  transition: fill var(--transition-duration) var(--transition-hover);
}

.form__comment-box {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-hover);
}

.form__comment-box::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form__comment-box:focus {
  border-color: var(--accent-color);
}

.form__checkbox {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding: 0;
  color: var(--middle-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.form__checkbox-input {
  margin-right: 8.38px;
  width: 100%;
}

.form__checkbox-input:focus + .form__checkbox-icon {
  border-color: var(--accent-color);
}

.form__checkbox-input:checked ~ .form__checkbox-icon {
  background-color: var(--accent-color);
  border: none;
}

.form__checkbox-icon {
  fill: var(--main-light-color);
}

.form__checkbox-contract {
  color: var(--accent-color);
  text-decoration: underline;
}

.form__checkbox svg {
  width: 16px;
  height: 16px;
  border: 2px solid var(--additional-dark-color);
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: border-color var(--transition-duration) var(--transition-hover);
}
/*# sourceMappingURL=main.css.map */