:root {
  --main-light-color: #ffffff;
  --main-dark-color: #212121;
  --accent-color: #2196f3;
  --middle-main-color: #757575;
  --additional-color: #2f303a;
  --additional-dark-color: #000000;
  --background-section-color: #f5f4fa;
  --portfoilio-border-color: #eeeeee;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --border-header-color: #ececec;
  --client-light-color: #afb1b8;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --soc-link-background: rgba(255, 255, 255, 0.1);
  --portfolio-hover-background: rgba(33, 150, 243, 0.9);
  --transition-hover: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --submit-btn-color: #188ce8;
  --placeholder-color: rgba(117, 117, 117, 0.5);
}
