.footer {
  background-color: var(--additional-color);
  padding: 60px 0px;
  .conteiner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.bottom-position {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.logo-adrs-conteiner {
  margin-right: 70px;
}

.address {
  font-style: normal;
  &__item {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    list-style-type: none;
    color: var(--footer-address-color);
    transition: color var(--transition-duration) var(--transition-hover);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.address__item {
  .contact__reference {
    padding: 0;
    color: var(--middle-main-color);
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--blue-color-hover);
    }
  }
}

.address__actual {
  color: var(--main-light-color);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-hover);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social {
  margin-right: auto;
  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--main-light-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
  }
  &__list {
    display: flex;
    .social__link {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: var(--soc-link-background);
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.social__link--item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background var(--transition-duration) var(--transition-hover);
  .social__link--logo {
    width: 20px;
    height: 20px;
    fill: var(--main-light-color);
  }
  &:hover,
  &:focus {
    background: var(--accent-color);
  }
}

.subscribe {
  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--main-light-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    .subscribe__inpute {
      background: var(--additional-color);
      color: rgba(255, 255, 255, 0.6);
      width: 358px;
      height: 50px;
      padding: 15px 16px;
      margin-right: 12px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
    }
    .subscribe__btn {
      width: 200px;
      height: 50px;
      padding: 10px 28px;
      background: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      color: var(--main-light-color);
    }
  }
}

.subscribe__inpute {
  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
}

.send-icon {
  margin-left: 10px;
}
