.our-team {
  background-color: var(--background-section-color);
  &__list {
    display: flex;
  }
  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: inherit;
  }
  &__card {
    margin-right: 30px;
    font-size: 16px;
    line-height: 1.18;
    list-style-type: none;
    background-color: var(--main-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.member {
  padding: 30px 24px;
  text-align: center;
  &__name {
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 10px;
    font-weight: 500;
    color: inherit;
  }
  &__position {
    color: var(--middle-main-color);
    margin-bottom: 16px;
  }
}
