.logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);

  &__studio--header {
    color: var(--additional-dark-color);
  }
  &__studio--footer {
    color: var(--main-light-color);
  }
  &__header {
    padding: 24px 0 25px 0;
    margin-right: 93px;
  }
  &__footer {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
}
