.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-background);
  position: fixed;
  top: 0%;
  left: 0%;
  transition: opacity 300ms var(--transition-hover),
    visibility 300ms var(--transition-hover);
}

.backdrop.is-hidden .modal {
  transform: scale(0.1) rotate(30deg);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--main-light-color);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform var(--transition-duration) var(--transition-hover);
}

.modal-close {
  position: absolute;
  padding: 0%;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill var(--transition-duration) var(--transition-hover);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-dark-color);
  margin-bottom: 12px;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-item {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.form-label {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--middle-main-color);
}

.modal-input-wrap {
  position: relative;
  width: 100%;
  display: block;
}

.form-input {
  height: 40px;
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-hover);
}

.form-input:focus ~ .modal-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-dark-color);
  transition: fill var(--transition-duration) var(--transition-hover);
}

.comment-box {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-hover);
}

.comment-box::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form-input:focus,
.comment-box:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.checkbox-lbl {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding: 0;
  color: var(--middle-main-color);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 30px;
}

.contract-term {
  color: var(--accent-color);
  text-decoration: underline;
}

.polisy-check {
  margin-right: 8.38px;
  width: 100%;
}

.checkbox-lbl svg {
  width: 16px;
  height: 16px;
  border: 2px solid var(--additional-dark-color);
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: border-color var(--transition-duration) var(--transition-hover);
}

.checkbox-icon {
  fill: var(--main-light-color);
}

.polisy-check:focus + .checkbox-icon {
  border-color: var(--accent-color);
}

.polisy-check:checked ~ .checkbox-icon {
  background-color: var(--accent-color);
  border: none;
}

.submit-btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 55px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  overflow: hidden;
}
